        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Consolans', sans-serif;
            background-color: #1A1A1A;
            color: #C6C6C6;
            background-attachment: fixed; /* НЕ ТРОГАТЬ */
        }

        .header {
            background-color: #1A1A1A;
            padding: 0px;
            border-bottom: 10px solid #4B0E0E;
            position: relative;  /* НЕ ТРОГАТЬ */
        }

        

        .logo img {
            max-width: 300px; /* Размер логотипа */
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .nav {
            display: flex;
            justify-content: center;
            gap: 25px;
            background-color: #7D0F1D;
            padding: 12px 0;
            border-radius: 0px;  /* НЕ ТРОГАТЬ */
        }

        .nav a {
            color: #C6C6C6;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em; /* НЕ ТРОГАТЬ */
        }

        .nav a:hover {
            color: #4B0E0E;
            text-decoration: underline;
        }

    

        